$dark-cyan: darkcyan;
$dark-cyan-hover: #026e6e;
$orange: #fa792b;
$orange-hover: #da6923;
$dark-background: #1a191d;
$code-grey: #666666;
$projects-bg-color: rgba(136,136,136,.05);
$border-dark-color: #495057;
$border-light-color: rgba(255, 255, 255, .55);
$filter-txt-color: rgba(255, 255, 255, .55);
$footer-social-bg-hover: #c7fdfd;
$accordion-body-bg: #1f2525;