.accordion-item {
    .accordion-content {
        max-height: 0;
        overflow: scroll;
        transition: max-height .3s ease-out;
    }

    .accordion-link-button {
        background-color: transparent;
        border: 0;
        color: white;
        font-size: 15px;
        flex-wrap: wrap;
        letter-spacing: normal;
        line-height: 1;
        padding: 15px 10px;
        position: relative;
        text-align: left;
        text-decoration: none;
        width: 100%;

        &::after {
            background-repeat: no-repeat;
            content: "\f077";
            display: inline-block;
            margin-left: 5px;
            position: absolute;
            right: 10px;
            top: 13px;
            transition: transform .2s ease-in-out;
            transform: rotate(180deg);
        }

        &.active {
            &::after {
                transform: rotate(0deg);
            }
        }
    }
}
